.body0 {
    background-color: burlywood;
}

h1 {
    color: burlywood;
    font-family: verdana;
    font-size: 300%;
}

p {
    color: black;
    font-family: tim;
    font-size: 160%;
}

.hero {
    background-image: url("FOTO PARASIO/3PM/parasio_notturna.jpg");
    /* Percorso dell'immagine */
    /*se vuoi solo una foto che prenda tutto lo schermo in larghezza
														indica width="100%" height="100%" max-width="100%"*/
    background-size: cover;
    /* Adatta l'immagine al contenitore */
    background-position: center;
    /* Centra l'immagine */
    background-repeat: no-repeat;
    /* Evita che si ripeta */
    height: 500px;
    /* Altezza del blocco */
    display: flex;
    /* Per centrare il testo */
    flex-direction: column;
    justify-content: flex-start;
    /*allinea ORIZZONTALMENTE*/
    align-items: flex-start;
    /*allinea VERTICALMENTE*/
    color: burlywood;
    /* Colore del testo sopra l'immagine */
    text-align: left;
    /* Allinea il testo al centro */
    padding-top: 40px;
    /* spazio dall’alto */
    padding-left: 60px;
    /* spazio da sinistra */
}

.sezione {
    color: burlywood;
    padding: 20px;
    font-family: verdana;
}

a {
    color: burlywood;
    /* Colore del testo */
    text-decoration: none;
    /* Toglie la sottolineatura */
}

a:hover {
    /* Quando ci passi sopra con il mouse */
    color: rgb(108, 255, 123);
    /* Cambia colore al passaggio */
    text-decoration: underline;
    /* (opzionale) aggiunge sottolineatura al passaggio */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Due colonne */
  gap: 24px;
}

figure img {
  width: 100%;
  height: auto;
}